VITE_SUPABASE_URL=https://tnfkdljvkiacywhvbofo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRuZmtkbGp2a2lhY3l3aHZib2ZvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgwMjExNjksImV4cCI6MjA5MzU5NzE2OX0.sfLFSSqyAEkQYhRHEZe-8lza0p1z6y8mewwWUlnm1Og
